.cart-card {
  padding: 10px 0px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  margin: 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
}
.card-img {
  width: 30%;
}
.card-img img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  max-height: 300px;
}
.cart-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-counter {
  border: 1.4px solid #a7a5a5;
  padding: 0px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: 80px;
}
.price {
  margin: 5px 0px;
}
