.menu-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37.5vw;
  height: 37.5vw;
  border-radius: 1.5rem;
}
.menu-item h4 {
  color: var(--background-secondary);
  font-size: 1.3rem;
  font-family: cursive;
  text-align: center;
}
.item-container {
  padding: var(--padding-medium);
}

@media screen and (min-width: 768px) {
  .menu-item {
    width: 25vw;
    height: 25vw;
  }
}
