.menu-header {
  text-transform: uppercase;
  padding: var(--padding-large) 0;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--text-secondary-color);
  font-size: 2rem;
}
