.card-container {
  background-color: #ffffff;
  height: 130px;
  margin: var(--margin) 0;
  /* display: flex; */
  /* align-items: flex-start; */
  border-radius: 1.5rem;
  padding: var(--padding-medium);
  position: relative;
  border: 1px solid var(--background-secondary);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
}
.card-container a {
  display: flex;
}
.img-container {
  width: 100%;
}
.img-container img {
  border-radius: 1.2rem;
  width: 100%;
  height: auto;
  max-height: 110px;
}
.detail-container {
  padding: 0px var(--padding-medium);
  width: 100%;
  color: #312929;
}
.detail-container h4 {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.detail-container p {
  font-size: 1.2rem;
  font-family: cursive;
}
.detail-container div {
  margin: 5px 0px;
  font-size: 18px;
  font-weight: bold;
  color: #db4343;
}
.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgb(60, 185, 43);
  position: absolute;
  border-start-start-radius: 10px;
  border-end-end-radius: 10px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}
.add-btn span {
  font-size: 25px;
  color: white;
}
@media screen and (min-width: 480px) {
  .card-container {
    height: 170px;
  }
  .img-container img {
    max-height: 150px;
  }
}
@media screen and (min-width: 580px) {
  .card-container {
    height: 200px;
  }
  .img-container img {
    max-height: 180px;
  }
}
@media screen and (min-width: 768px) {
  .card-container {
    height: 250px;
    max-width: 768px;
  }
  .img-container img {
    max-height: 220px;
  }
}
