.input-conatiner {
  max-width: 450px;
  margin: 0 15px;
  padding: 5px 8px;
  display: flex;
  border-radius: 16px;
  background-color: #ececec;
  align-items: center;
}
.input-text {
  padding: 0px 5px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #ececec;
}
.category-container {
  padding: 15px 20px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-container select {
  border: none;
  outline: none;
}
hr.line {
  border-top: 1px solid #a1a1a1;
}
