.button-container {
  max-width: 450px;
  margin: var(--margin) 0;
  padding: var(--padding-large) var(--padding-medium);
  display: flex;
  border-radius: 1.5rem;
  background-color: var(--background-secondary);
  align-items: center;
}

.button-text {
  padding: 0 var(--padding-medium);
  font-size: 1.1rem;
  font-family: cursive;
  color: var(--text-primary-color);
}
a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 768px) {
  .button-container {
    position: absolute;
    width: 500px;
    top: 15px;
    left: 20%;
  }
}
