.nav-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nav-title {
  font-size: 3rem;
  color: var(--text-secondary-color);
  font-family: cursive;
}
@media screen and (min-width: 768px) {
  .nav-container {
    margin-bottom: 50px;
  }
}
